{% extends 'bootstrap/base.html'%}
{% block style%}
<link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Reenie+Beanie&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
{% endblock %}
<!-- Navbar block  -->
{% block navbar %} {% include 'navbar.html' %} 
{% endblock %}