<div class="navbar navbar-inverse " role="navigation">
    <div class="container-fluid">

        <div class="navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right" style=" color:white;">
                <li>
                    <a style=" color:white;" class="nav-link" href="{{url_for( 'main.index')}} "> Pitches</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item ">
                    <a style=" color:white;" class="nav-link " href="{{url_for( 'main.pitch_form')}} ">New Pitch</a>
                </li>
                {% endif %} {% if current_user.is_authenticated %}
                <li><a style=" color:white;" href="{{url_for( 'main.profile',uname=current_user.username)}} ">Profile</a></li>
                <li style="color:white;padding:15px; ">{{current_user.username}}</li>
                <li>
                    <a style=" color:white;" href="{{url_for( 'auth.logout')}} ">Sign out</a>
                </li>
                {% else %}
                <li class="nav-item text-success ">
                    <a style=" color:white;" class="nav-link " href="{{url_for( 'main.pitch_form')}} ">New Pitch</a>
                </li>
                <li><a style=" color:white;" href="{{url_for( 'auth.login')}} ">Sign in</a></li>
            </ul> {%endif%}
        </div>



    </div>
</div>